.regLink{
   font-size: 20px;
}
.singLink{
   font-size: 20px;
   text-align: right;
}
.signBtn{
   background-color: #FCBF21;
   color: black;
   border: none;
   width: 130px;
   height: 50px;
   margin-left: 30px;
}
.signBtn:hover{
   background-color: #b28513;
   color: black;
}

.auth-title{
   color: black;
}

@media (max-width: 480px) {
   .regLink{
      font-size: 10px;
      margin-left: 5px;
      margin-top: 10px;
   }
   .singLink{
      font-size: 15px;
      margin-top: 10px;
   }
   .singBtn{
      display: block;
      margin-right: 30px;
   }
   .auth-title{
      font-size: 15px;
   }
   .singLink, .singBtn{
      font-size: 10px;
   }

}

@media (width: 320px){
   .signBtn{
      width: 60px;
      font-size: 12px;

   }
   .singLink, .singBtn{
      font-size: 10px;
      width: 50px;
   }
}